<script type="text/javascript">
function uiFormGuide_do${instanceId}(domEvent, ruleSet) {
  #foreach ($task in $doTasks)
    ruleSet.$task
  #end
}

function uiFormGuide_undo${instanceId}(domEvent, ruleSet) {
  #foreach ($task in $undoTasks)
    ruleSet.$task
  #end
}

uiHtml_Window.getInstance().appendEventHandler("load", function(e) {
  #if (!($doTasks.isEmpty() && $undoTasks.isEmpty()))
  var ruleSet = uiFormGuide_driver.createRuleSet(uiFormGuide_do${instanceId}, uiFormGuide_undo${instanceId}, 
                  $!{ignoreDoOnLoad}, $!{ignoreUndoOnLoad}, "${ignoreAndOr}", "${observeAndOr}", #if ($prompt) "${prompt}" #else null #end);
  #end  

  var rule;
  ## iterate through the elements which could cause the action to be ignored, and generate ignore rule for each
  #foreach ($element in $ignoreWidgets)
    rule = uiFormGuide_driver.createRule("$!{element.getId()}", "$!{element.getName()}", 
                $element.getValueInDoubleQuotesOrNull(), $element.getNegate());
    ruleSet.addIgnoreRule(rule);
  #end
  
  ## iterate through the elements to be observed to determine if do or undo should be execute, and generate rule for each
  #foreach ($element in $observedWidgets)
    rule = uiFormGuide_driver.createRule("$!{element.getId()}", "$!{element.getName()}", 
                $element.getValueInDoubleQuotesOrNull(), $element.getNegate());
    ruleSet.addRule(rule);
  #end

  var watchedElement;
  ## iterate through the ignoreRule elements and add them to be watched for events
  #foreach ($element in $ignoreWidgets)
    watchedElement = uiFormGuide_driver.createObservedIfNotInCache("$!{element.getId()}", "$!{element.getName()}");
    if (!uiFormGuide_driver.elementAlreadyObservedForThisRuleSet("$!{element.getId()}", "$!{element.getName()}")) {
      watchedElement.addRuleSet(ruleSet);
    }
  #end
  ## iterate through the observeRule elements and add them to be watched for events
  #foreach ($element in $observedWidgets)
    watchedElement = uiFormGuide_driver.createObservedIfNotInCache("$!{element.getId()}", "$!{element.getName()}");
    if (!uiFormGuide_driver.elementAlreadyObservedForThisRuleSet("$!{element.getId()}", "$!{element.getName()}")) {
      watchedElement.addRuleSet(ruleSet);
    }
  #end
  uiFormGuide_driver.clearObservedForThisRuleSet();

  #if ($listener)
    ruleSet.setLifeCycleListener($listener);
  #end

});

</script>
