/******
style sheet for the calendar rendering
*******/ 

#centerLeftNav div.calendarTitleBox{
	width: 771px;
	height: 60px;
	background-color: #cccccc;/*Calendar Header*/
	color: #003366;/*Calendar Header Text*/
	padding: 5px;
	border: 0;
}

div.calendarBox {
	background-color: #ffffff;
	border: solid #cccccc;
}
	
div.calendarApptBox{
	overflow: hidden;
	background-color: #ffffff;
	border: solid #000000;
	font-size: 7pt;
	line-height: 110%;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	
}

div.calendarWeekDayLabelBox{
	font-size: 10pt;
	text-align: center;
	line-height: 125%;
	font-weight: bold; 
	font-family: Arial, Helvetica, Geneva, sans-serif;
	border: solid #cccccc;
	background-color: #ffffff;
}

div.calendarMonthDayLabelBox{
	font-size: 10pt;
	font-weight: bold; 
	text-align: center;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	border: solid #cccccc;
	background-color: #ffffff;
}

div.calendarTimeLabelBox{
	float:left;
	background-color: #ffffff;
	color: #000000;
	border: solid #cccccc;
}

div.calendarTimeLabelBox .calendarTimeLabel{
	float: left;
	width: 23px;
	text-align: right;
	font-size: 12pt;
	font-weight: bold; 
	font-family: Arial, Helvetica, Geneva, sans-serif;
	vertical-align:top;
}

div.calendarTimeLabelBox .calendarTimeLabelSuffix{
	float: right;
	font-size: 8pt;
	font-weight: bold; 
	font-family: Arial, Helvetica, Geneva, sans-serif;
	vertical-align:top;
}

div.calendarTimeLabelBox .calendarTimeLabelAMPMSuffix{
	float: right;
	font-size: 6pt;
	font-weight: bold; 
	font-family: Arial, Helvetica, Geneva, sans-serif;
	vertical-align:top;
}

div.calendarTimeIntervalBox{
	border: solid #cccccc;
}

/* calendar month view formatting */

div.calendarMonthDayBox{
	font-size: 8pt;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	border: solid #cccccc;
	background-color: #ffffff;
}

div.calendarMonthDayNumLabelBox{
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

div.calendarMonthDayContentBox{
	font-size: 8pt;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

/* color settings */

div.calendarWorkingHour {
	background-color: #eeeecc;
}

div.calendarNonWorkingHour {
	background-color: #eeeecc;
}

div.calendarNonWorkingDay {
	background-color: #eeeecc;
}

div.calendarPeakUsageHour {
	background-color: #bfbfff; /* for use with resource calendars */
}

div.calendarMonthDayBox.calendarCurrentDate {
	background-color: #ffffbb;	
}

div.calendarWeekDayLabelBox.calendarCurrentDate {
	background-color: #ffffbb;	
}

div.calendarTimeIntervalBox.calendarPreviousDate {
	background-color: #eeeeee;	
}
